#aboutContent{
    display: flex;
    margin: 5%;
    position: fixed;
 
}
#personalPhoto{
    margin: 2.5%;
    width: 24%;
    height: 50%;
}

#introHeader{
    font-size: 3vw;
}

#introText{
    font: 1.75vw Futura;
    display: block;
    text-align: center;
    width: 90%;  
}

#introContent {
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    margin: 2.5%;
    color: black;
    display: flex; 
    flex-direction: column; 
    width: 100%;
    background: beige;
}