body{
    margin: 0;
    background-color: rgb(180, 210, 245);
}
#menuBar{
    background-color: beige;
}
.navText:any-link{
    font: bold 30pt Baskerville;
    text-decoration: none;
    color: black;   
}
.menuOption{
    border: transparent;
    border-radius: 15px;
    text-align: center;
    padding: 15px; 
    width: 75%;
}
#navMenu{
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 1fr 1fr;
}
#gallery {
    float: left;
    overflow: hidden;
}
  
#dropButton {
    all:unset;
    font: bold 30pt Baskerville;
    text-decoration: none;
    color: black;   
  }
  
#galleries {
    display: none;
    position: absolute;
    align-items: center;
    z-index: 2;
    min-width: 10%;
 }
  
#galleries a {
    color: black;
    font: bold 15pt Baskerville;
    background-color:rgb(199, 199, 175);
    text-decoration: none;
    display: block;
  }
  
#galleries a:hover {
    background-color: #ddd;
  }
  
#gallery:hover #galleries {
    display: block;
  }